* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
div {
  display: flex;
  justify-content: center;
}
.brand {
  font-size: 2rem;
  font-weight: 900;
  border-width: 5px;
  padding-bottom: 20px;
  padding-top: 20px;
  display: flex;
  justify-content: center;
}
#best_bakery {
  font-weight: 400;
}
nav {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  padding: 10px;
  padding-bottom: 10px;
  font-size: 25px;
  border-top-style: double;
  border-bottom-style: double;
}
#menus {
  background-color: #b6cdbd;
  border-radius: 2px;
  padding: 8px;
  cursor: pointer;
  border-bottom-right-radius: 40px;
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
}
#catering {
  background-color: #b6cdbd;
  border-radius: 2px;
  padding: 8px;
  cursor: pointer;
  border-bottom-right-radius: 40px;
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
}
#recipes {
  background-color: #b6cdbd;
  border-radius: 2px;
  padding: 8px;
  cursor: pointer;
  border-bottom-right-radius: 40px;
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
}
#aboutus {
  background-color: #b6cdbd;
  border-radius: 2px;
  padding: 8px;
  cursor: pointer;
  border-bottom-right-radius: 40px;
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
}
main {
  display: flex;
}
.no-bullets {
  list-style-type: none;
  display: flex;
  gap: 2.25ch;
  padding-left: 20px;
  padding-right: 15px;
  padding-top: 30px;
  font-size: 24px;
  justify-content: flex-start;
  flex-direction: column;
}
.bread {
  background-color: #5c715e;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  padding: 15px;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
  cursor: pointer;
}
.cakes {
  background-color: #5c715e;
  padding-right: 30px;
  padding: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  border-bottom-right-radius: 40px;
  border-top-right-radius: 40px;
  cursor: pointer;
}
.cookies {
  background-color: #5c715e;
  padding: 15px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  border-bottom-right-radius: 40px;
  border-top-right-radius: 40px;
  cursor: pointer;
}
.muffins {
  background-color: #5c715e;
  padding: 15px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  border-bottom-right-radius: 40px;
  border-top-right-radius: 40px;
  cursor: pointer;
}
.pies {
  background-color: #5c715e;
  padding: 15px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  border-bottom-right-radius: 40px;
  border-top-right-radius: 40px;
  cursor: pointer;
}
article {
  flex-wrap: wrap;
  display: flex;
  padding-left: 10px;
  min-height: 85vh;
  padding-top: 10px;
  padding-bottom: 200px;
}
.testimonial {
  background-color: #f2f9f1;
}
footer {
  font-size: larger;
  text-align: center;
  padding: 20px;
  background-color: white;
  min-height: 10vh;
}
